	
.nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.title{
	letter-spacing: 0.2em;
	font-weight: 900;
	color: #455384;
	font-size: 30px;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #FFD1D1;
	text-decoration-thickness: 3px;
   
}

.navlinks a{
	letter-spacing: 0.15em;
	font-weight: bolder;
	color: #455384;
	text-decoration: none;
	padding: 15px;
}

a:hover{
	color:#e29d9d 
}

h2{
	font-weight: bold;
	letter-spacing: 3px;
	margin-left: 10%;
	color: #455384;
	margin-top: 60px;
	margin-bottom: 60px;
	font-size: 25px;
}

h3{
	font-weight: bold;
	letter-spacing: 1px;
	color: #455384;
	font-size: 20px;
}

.project-page-img{
	margin-top: 60px;
}

body {
	font-family: "PT Sans", Sans-serif;
	font-size: 95%; 
	line-height: 1.5em; 
	color: #000000;
	margin-left: 15%;
	margin-right: 15%;

}


.main {
	margin-top: 40px;
	margin-bottom: 40px;
}

.gallery img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	} 
	
footer {
	border-top: dotted #e29d9d ;
	margin-top:60px;
	margin-bottom:50px;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #455384;
}

#tp{
	box-sizing: border-box;
	border: solid #cbcbcb 2px;
}


#btg{
	box-sizing: border-box;
	border: solid #cbcbcb 2px;
}

.skill{
	background-color:#FFD1D1;
	border-radius: 10px;
	padding: 5px 20px 5px 20px;
	font-weight: 900;
	color: #844e4e;
	letter-spacing: 1px;
	font-size: 12px;
}

#copyright{
	margin-left: 10%;
}

.btn-outline-primary{
	margin-top: 20px;
	color: #455384;
	border-color: #455384;
	border-width: 2px;
	font-weight: bold;
	border-radius: 10px;
	letter-spacing: 1px;
	font-size: 90%;
}

.btn-outline-primary:hover{
	background-color: #455384;
	border-color: #455384;
}

.container{
	margin-left: 10%;
	margin-right: 15%;
	padding: 0;
}

.row{
	align-items: center;
}

.about img{
	height:auto;
	width:100%;
}

.intro{
	margin-left: 10%;
	display:flex;
	align-items:center;
	margin-top: 10%;
}

.intro img{
	height:auto;
	max-width:150%;
}


.project-desc p, .project-desc h3{
	margin-left: 10%;
	margin-right: 15%;
}

.project-desc img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

ul{
	margin-left: 15%;
	margin-right: 15%;
}

li{
	margin-bottom: 10px;
}

iframe{
	width: 100%;
}
