/* global styling */
h1{
  font-family: 'Roboto Mono', monospace;
  padding-left: 70px;

}

/* navbar styling */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  font-size: 20px;
  background-color: white;
  border-bottom: 2px solid black;
  font-family: 'Roboto Mono', monospace;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navlink-left {
  margin-right: 40px;
}

.navlink-right {
  margin-left: 40px;
}

/* intro styling */

.intro{
  padding: 70px 150px;
  font-family: 'Roboto Mono', monospace;
}

.intro .top {
    font-size: 40px;
    font-weight: 600;
}

.intro .bottom {
  margin-top: 30px;
  font-size: 25px;
}

/* projects styling */
.projects-container {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  justify-items: center;
}

/* project card styling */

.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.project-img{
  overflow: hidden;
}

.project-img img{
  width: 600px;
  height: auto;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.project-img:hover img{
  transform: scale(1.1);
}

/* about styling */
.about-container{
  padding: 0px 70px;
}

/* footer styling */

.footer-container {
  padding: 30px 50px;
}