/* global styling */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sen:wght@400..800&display=swap');


img.shadow{
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);

}

p{
  margin-bottom: 30px;
}

h1{
  font-family: "Sen", sans-serif;
  margin-left: 70px;
  line-height: 1.125em;


}

h2{
  font-family:"Sen", sans-serif;
  font-size: 1.125em;
  margin-top: 4.375em;
  color: #1A51DE;
  margin-bottom: 0px;

}

h3{
  font-family:"Sen", sans-serif;
  font-size: 1.75em;
  line-height: 1em;
  margin:  0.625em 0;
  /* margin-top: 0.625em; */

}

h4{
  font-family:"Sen", sans-serif;
  font-size: 1.5em;
  line-height: 1.125em;
  margin:  0.625em 0;
  /* margin-top: 0.625em; */

}

h5{
  font-family:"Sen", sans-serif;
  font-size: 1.25em;
  color:#1A51DE;
  margin-bottom: 0; 
}

.numbered-list {
  margin-top: 3em;
  margin-bottom: 3em;
  counter-reset: list-counter;
  list-style: none;
  padding-left: 0;
}
.numbered-list li {
  counter-increment: list-counter;
  margin-top: 2.5em;
  display: flex;
  align-items: center;
}
.numbered-list li::before {
  content: counter(list-counter) ". ";
  content: counter(list-counter);
  font-size: 40px;
  font-weight: bold;
  font-family:"Sen", sans-serif;
  color: #1A51DE;
  margin-right: 30px;
}
.numbered-list li p {
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  /* background-color: #FDF7F3; */
  background-color: white;
}

.half{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.half .item{
  max-width: 45%;
}

iframe{
  aspect-ratio: 16 / 9;
}

.third{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.third .item{
  width: 30%;
}

.quarter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quarter .item{
  max-width: 20%;
}

.container{
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
  /* align-items: center; */
}

.description{
  width: 30%;
}

.one-phone .description{
  width: 35%;
}

.screens{
  display: flex;
  width: 65%;
  justify-content: center;
  flex-wrap: wrap;

}

.screens img{
  object-fit: contain;
  margin-bottom: 10px;
}

.screens img.phone{
  width: 40%;
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15); */

}

@media only screen and (max-width: 48em){

  .quarter .item{
    max-width: 45%;
  }

  .container .description{
    width: 100%;
  }

  .screens{
    width: 100%;
  }

  .container.reverse{
    flex-direction: column-reverse;
  }

  h3{
    font-size: 1.3em;
  }

  h4{
    font-size: 1.2em;
  }
  

}

/* navbar styling */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
  font-size: 20px;
  /* background-color: #FDF7F3; */
  background-color: white;
  /* border-bottom: 2px solid black; */
  font-family: 'Sen', sans-serif;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .navlinks-container a.active {
  color: #1A51DE !important; 
  text-decoration:none !important;
  font-weight: 600;
}

.navbar .navlinks-container a:hover {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}


.navlink-left {
  margin-right: 40px;
}

.navlink-right {
  margin-left: 40px;
}

@media only screen and (max-width: 48em){
  .navbar{
    font-size: 15px;
    padding: 5%;
  }

  .navlink-left {
    margin-right: 20px;
  }
  
  .navlink-right {
    margin-left: 20px;
  }
  
  
}


/* intro styling */

.intro{
  padding: 5%;
  font-family: 'Sen', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color:black;
}


.intro-pic img{
  width: auto;
  height: 20em;
}

.intro-pic{
  padding-left: 5%;

}

.intro-words{
  width: 45%;
  line-height: 2em;

}

.intro .top {
    font-size: 2.5em;
    font-weight: 700;
}

.intro .bottom {
  margin-top: 1em;
  font-size: 1.6em;
  color:black;

}

@media only screen and (max-width: 48em){
  .intro{
    padding: 10% 5%;
  }
  .intro-pic img{
    width: 100%;
    max-width: 250px;
    height: auto;
  }
  .intro-pic{
    padding: 5% 0%;
  }

  .intro-words{
    width: 100%;
  }
}

/* projects styling */
.projects-container {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  justify-items: center;
  justify-content: center;
}

/* project card styling */

.project-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: 500;
  font-family: "Sen", sans-serif;
}

.project-skills{
  font-family: "Sen", sans-serif;
  color:gray;
}

.project-img{
  overflow: hidden;
}

.project-img img{
  width: 100%;
  height: auto;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  max-width: 600px;
  object-fit: cover;

}

.project-card-container{
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}


@media only screen and (max-width: 48em){
  .project-img img{
    /* max-width: 21em; */
  }

  .projects-container{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

  }

  .project-card-container{
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .project-skills{
    font-size: 13px;
  }
}


.project-img:hover img{
  transform: scale(1.1);
}

/* project overview styling */

.project-overview-container h1{
  margin-left: 0px;
}

.project-summary{
  display: flex;
  /* max-width: 1000px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-desc{
  max-width: 60%;
  padding-right: 20px;
}

.project-info{
  max-width: 30%;
}

.project-overview-pic img{
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 48em){
  .project-desc{
    max-width: 100%;
    margin-bottom: 10%;
  }
  .project-info{
    max-width: 100%;
  }
  
}


/* project page styling */
.project-page{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.project-page img{
  width: 100%;
  /* object-fit: contain; */
}

@media only screen and (max-width: 48em){
  .project-page{
    margin-left: 5%;
    margin-right: 5%;
  }
  }


/* maobi specific */
 img.design-sys{
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  margin-top: 1em;
  margin-bottom: 2em;
}

.flow-lofi-images{
  display: flex;           
  flex-direction: row;
  object-fit: contain;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.flow-lofi-images img{
  margin: 10px; 
  width: 45%;
  height: auto;
}

@media only screen and (max-width: 48em){
  .flow-lofi-images img{
    width: 100%;
    height: auto;
  }
}


/* market2u specific */
.persona{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.persona img{
  width: 15%;
  border-radius: 10px;
}

.persona p{
  width: 75%;
  padding-left: 3%;
}

.flow-images{
  display: flex;           
  flex-direction: row;
  object-fit: contain;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.flow-images img{
  margin: 5px; 
  width: 30%;  
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
       
}

.flow-images img.phone{
  margin: 5px; 
  width: 15%;  
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
       
}

.final-prototypes .row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
}

.final-prototypes .row p{
  width: 25%;
  padding-right: 20px;
}

.final-screens{
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;

}

.final-prototypes .desktop {
  max-width: 30em;
  padding-bottom: 0.5em;
}

.final-prototypes .phone {
  max-width: 9em;
  padding-bottom: 0.5em;
}

@media only screen and (max-width: 48em){
  .persona img{
    width: 100%;
  }

  .persona p{
    width: 100%;
  }

  .final-prototypes .row p{
    width: 100%;
    padding-right: 0px;
  }
  

  .flow-images img{
    width: 100%;
  }

  .flow-images img.phone{
    width: 100%;
  }

  .final-prototypes .desktop {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .final-prototypes .phone {
    max-width: 100%;
    width: 100%;
  }
}



/* vagary specific */
.synthesis, .crazy8, .storyboards {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: center;
}

.synthesis img{
  width: 50%;
}

.crazy8 img{
  width: 50%;
}

.storyboards img{
  width: 50%;
}

.vagary-final .flow-images {
  justify-content: center;
}

.vagary-final .flow-images img.phone{
  width: 30%;
  box-shadow: none;
}

@media only screen and (max-width: 48em){
  .synthesis img{
    width: 100%;
  }
  
  .crazy8 img{
    width: 100%;
  }
  
  .storyboards img{
    width: 100%;
  }
  .vagary-final .flow-images img.phone{
    width: 100%;
  }
}


/* play styling */
.play-container{
  /* margin-left: 70px; */
  padding: 5%;
}

.play-container .project-title {
  font-size: 20px;
}

@media only screen and (max-width: 48em){
  .play-container{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  
  }
  
}


/* art page styling */
.gallery {
  padding: 0px 70px;
}


/* about styling */
.about-container{
  /* padding: 0px 70px; */
  padding: 5%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.about-bio{
  font-size: 15px;
  max-width: 600px;
  /* margin-left: 50px; */
}

.about-container img{
  height: 400px;
  width: auto;
}

@media only screen and (max-width: 48em){
  .about-container img{
    width: 100%;
    height: auto;
    margin-bottom: 1.25em;
  }

  .about-bio{
    margin-left: 0px;
  }
}

/* footer styling */

.footer-container {
  margin-top: 80px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;

}

.copyright{
  width: 50%;
}

.socmed a{
  color: black;
  padding-left: 10px;
}

.socmed a:hover{
  color: #1A51DE;
  padding-left: 10px;
}